<a href="https://colab.research.google.com/github/ashifka/ashif/blob/main/Ashif_KA(Preprocessing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

### **Load the dataset into python environment**

In [2]:
data = pd.read_csv('/content/sample_data/titanic_dataset.csv')

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### **Make ‘PassengerId’ as the index column**

In [4]:
data.set_index('PassengerId',inplace = True)

In [5]:
data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### **Check the basic details of the dataset**

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [7]:
data.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
data.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

### **Fill in all the missing values present in all the columns in the dataset**

In [9]:
imputed_value1 = data.fillna(data.mean())

<ipython-input-9-e86e6c085001>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  imputed_value1 = data.fillna(data.mean())

In [10]:
imputed_value = imputed_value1.fillna(imputed_value1.mode().iloc[0])

In [11]:
imputed_value.isnull().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [12]:
imputed_value.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,B96 B98,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,B96 B98,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,B96 B98,S
6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,B96 B98,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,B96 B98,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,B96 B98,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,B96 B98,C

### **Check and handle outliers in at least 3 columns in the dataset**

In [13]:
#writing any first 2 columns in Z-Score Method of handling Outliers
column1 =imputed_value['Age']
z_scores1 = (column1 - column1.mean()) / column1.std()
z_scores1.mean()

2.272779794518839e-16

In [14]:
#putting threshold as 3
threshold = 3
outliers1 = imputed_value[abs(z_scores1) > threshold]

In [15]:
print("Outliers of column 'Age' is:")
outliers1

Outliers of column 'Age' is:

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,B96 B98,Q
494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,B96 B98,C
631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
673,0,2,"Mitchell, Mr. Henry Michael",male,70.0,0,0,C.A. 24580,10.5000,B96 B98,S
746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,B96 B98,S

In [16]:
column2 =imputed_value['Fare']
z_scores2 = (column2 - column2.mean()) / column2.std()
z_scores2.mean()

-1.1961998918520205e-17

In [17]:
outliers2 = imputed_value[abs(z_scores2) > threshold]
print("Outliers of column 'Fare' is:")
outliers2

Outliers of column 'Fare' is:

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,S
89,1,1,"Fortune, Miss. Mabel Helen",female,23.000000,3,2,19950,263.0000,C23 C25 C27,S
119,0,1,"Baxter, Mr. Quigg Edmond",male,24.000000,0,1,PC 17558,247.5208,B58 B60,C
259,1,1,"Ward, Miss. Anna",female,35.000000,0,0,PC 17755,512.3292,B96 B98,C
300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.000000,0,1,PC 17558,247.5208,B58 B60,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.000000,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.000000,3,2,19950,263.0000,C23 C25 C27,S
378,0,1,"Widener, Mr. Harry Elkins",male,27.000000,0,2,113503,211.5000,C82,C
381,1,1,"Bidois, Miss. Rosalie",female,42.000000,0,0,PC 17757,227.5250,B96 B98,C
439,0,1,"Fortune, Mr. Mark",male,64.000000,1,4,19950,263.0000,C23 C25 C27,S
528,0,1,"Farthing, Mr. John",male,29.699118,0,0,PC 17483,221.7792,C95,S
558,0,1,"Robbins, Mr. Victor",male,29.699118,0,0,PC 17757,227.5250,B96 B98,C
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.000000,0,1,PC 17755,512.3292,B51 B53 B55,C
690,1,1,"Madill, Miss. Georgette Alexandra",female,15.000000,0,1,24160,211.3375,B5,S
701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.000000,1,0,PC 17757,227.5250,C62 C64,C
717,1,1,"Endres, Miss. Caroline Louise",female,38.000000,0,0,PC 17757,227.5250,C45,C
731,1,1,"Allen, Miss. Elisabeth Walton",female,29.000000,0,0,24160,211.3375,B5,S
738,1,1,"Lesurer, Mr. Gustave J",male,35.000000,0,0,PC 17755,512.3292,B101,C
743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.000000,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.000000,0,1,24160,211.3375,B3,S

In [18]:
#writing third column in IQR Method of handling Outliers
column3 = imputed_value['SibSp']
Q1 = column3.quantile(0.25)
Q3 = column3.quantile(0.75)
IQR = Q3 - Q1

In [19]:
outliers3 = imputed_value[(column3 < Q1 - threshold * IQR) | (column3> Q3 + threshold * IQR)]
print("Outliers of column 'SibSp' is:")
outliers3

Outliers of column 'SibSp' is:

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
60,0,3,"Goodwin, Master. William Frederick",male,11.000000,5,2,CA 2144,46.90,B96 B98,S
72,0,3,"Goodwin, Miss. Lillian Amy",female,16.000000,5,2,CA 2144,46.90,B96 B98,S
160,0,3,"Sage, Master. Thomas Henry",male,29.699118,8,2,CA. 2343,69.55,B96 B98,S
181,0,3,"Sage, Miss. Constance Gladys",female,29.699118,8,2,CA. 2343,69.55,B96 B98,S
202,0,3,"Sage, Mr. Frederick",male,29.699118,8,2,CA. 2343,69.55,B96 B98,S
325,0,3,"Sage, Mr. George John Jr",male,29.699118,8,2,CA. 2343,69.55,B96 B98,S
387,0,3,"Goodwin, Master. Sidney Leonard",male,1.000000,5,2,CA 2144,46.90,B96 B98,S
481,0,3,"Goodwin, Master. Harold Victor",male,9.000000,5,2,CA 2144,46.90,B96 B98,S
684,0,3,"Goodwin, Mr. Charles Edward",male,14.000000,5,2,CA 2144,46.90,B96 B98,S
793,0,3,"Sage, Miss. Stella Anna",female,29.699118,8,2,CA. 2343,69.55,B96 B98,S
847,0,3,"Sage, Mr. Douglas Bullen",male,29.699118,8,2,CA. 2343,69.55,B96 B98,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.699118,8,2,CA. 2343,69.55,B96 B98,S

### **Do min max scaling on the feature set (Take ‘Survived’ as target)**

In [20]:
#first we have to remove string columns
columns_to_remove = ['Name', 'Sex', 'Ticket','Cabin','Embarked']
imputed_value.drop(columns=columns_to_remove, axis=1, inplace=True)

In [21]:
from sklearn.preprocessing import MinMaxScaler

In [22]:
target = imputed_value['Survived']
features = imputed_value.drop('Survived',axis =1)
scaler = MinMaxScaler()

In [23]:
scaled_features = scaler.fit_transform(features)
scaled_normalized = pd.DataFrame(scaled_features, columns=features.columns)
final_normalized = pd.concat([scaled_normalized, target], axis=1)

In [24]:
final_normalized

     Pclass       Age  SibSp     Parch      Fare  Survived
0       1.0  0.271174  0.125  0.000000  0.014151       NaN
1       0.0  0.472229  0.125  0.000000  0.139136       0.0
2       1.0  0.321438  0.000  0.000000  0.015469       1.0
3       0.0  0.434531  0.125  0.000000  0.103644       1.0
4       1.0  0.434531  0.000  0.000000  0.015713       1.0
..      ...       ...    ...       ...       ...       ...
887     0.0  0.233476  0.000  0.000000  0.058556       0.0
888     1.0  0.367921  0.125  0.333333  0.045771       1.0
889     0.0  0.321438  0.000  0.000000  0.058556       0.0
890     1.0  0.396833  0.000  0.000000  0.015127       1.0
891     NaN       NaN    NaN       NaN       NaN       0.0

[892 rows x 6 columns]

In [25]:
final_normalized.fillna(final_normalized.mean(),inplace = True)

In [26]:
final_normalized

       Pclass       Age     SibSp     Parch      Fare  Survived
0    1.000000  0.271174  0.125000  0.000000  0.014151  0.383838
1    0.000000  0.472229  0.125000  0.000000  0.139136  0.000000
2    1.000000  0.321438  0.000000  0.000000  0.015469  1.000000
3    0.000000  0.434531  0.125000  0.000000  0.103644  1.000000
4    1.000000  0.434531  0.000000  0.000000  0.015713  1.000000
..        ...       ...       ...       ...       ...       ...
887  0.000000  0.233476  0.000000  0.000000  0.058556  0.000000
888  1.000000  0.367921  0.125000  0.333333  0.045771  1.000000
889  0.000000  0.321438  0.000000  0.000000  0.058556  0.000000
890  1.000000  0.396833  0.000000  0.000000  0.015127  1.000000
891  0.654321  0.367921  0.065376  0.063599  0.062858  0.000000

[892 rows x 6 columns]